.custom-badge-container {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }
  
  .holiday-dot,
  .termination-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  .holiday-dot {
    background-color: blue;
  }
  
  .termination-dot {
    background-color: red;
  }
  